/* Master Styles */
body
{
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container
{
    display: grid;
    grid-template-columns: 1fr;
}

/* Navigation Styles */
.page-name
{
    position: relative;
    bottom: 60px;
    margin-bottom: -150px;
    display: flex;
    justify-content: center;
    font-size: 28px;
}

.navigation
{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side
{
    display: flex;
}

.navigation > .left-side > div
{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navigation-link
{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-link a
{
    color: rgb(50, 105, 175);
    text-decoration: none;
    transition: 0.5s;
}

.navigation-link:hover
{
    border-bottom: 1px solid black;
}

.navigation-link a:hover
{
    color: black;
}

.active-navigation-link
{
    border-bottom: 1px solid black;
}

.active-navigation-link a
{
    color: black !important;
}

/* Item Styles */

.items-collection
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item
{
    position: relative;
}

.item-background
{
    height: 900px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-foreground
{
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;

}

.logo img
{
    width: 60%;
    margin-bottom: 20px;
}

.MSUK-logo img
{
    width: 90%;
    margin-bottom: 20px;
}

.UEA-logo img
{
    width: 100%;
    margin-bottom: 20px;
}

.UEA-small-foreground
{
    padding-left: 100px;
}

.Club-100-logo img
{
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.subtitle-padding
{
    padding-left: 50px;
    padding-bottom: 25px;
}

.item-foreground .item-subtitle
{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.item-foreground:hover .item-subtitle
{
    font-weight: 600;
    color: rgb(50, 105, 175);
}

.img-darken
{
    transition: 1s;
    filter: brightness(25%);
}

/* About Page */

.two-columns
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image img
{
    height: 25%;
}

.profile-content
{
    padding: 30px;
}

.profile-content h1
{
    color: rgb(50, 105, 175);
}

